html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: sans-serif;
}
a:hover{
  cursor: pointer;
}
body {
    background-image: url("assets/art/maze.png");
    background-color: #cccccc;
}
div{
  margin: 0;
  padding: 0;
}
canvas{
  padding: 0;
  margin: auto;
  display: block;
  width: 1200px;
  cursor: pointer;;
}
/*.grabbing{
  cursor: -webkit-grabbing;
}*/
footer{
  margin-top: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
}
footer a:hover{
  color: #009688;
}
.logo{
  width: 100%;
  position: relative;
}
.logo h1{
  font-family: 'Bungee Shade', cursive;
  .font-weight: bolder;
  margin: auto;
  font-size: 58px;
  text-align: center;
  margin-top: 10px;
}
.modal-box{
  position: absolute;
  width: 100%;
  height: 600px;
  top: 103px;
  left: 0;
}
.modal{
  padding: 50px;
  margin: auto;
  display: block;
  width: 1200px;
  box-sizing: border-box;
}
.modal p{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 2;
  padding-top: 100px;
}
.button{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 32px;
  padding: 5px 5px 5px 7px;
  letter-spacing: .1em;
  border-radius: 1px;
  border: 5px solid #FF5722;
  cursor: pointer;
  background-color: #FF5722;
  color: white;
  display: table;
  margin: auto;
  transition: background-color 0.5s ease;
}
.button:hover{
  background-color: #E0E0E0;
  transition: background-color 0.5s ease;
}
.hidden{
  display: none;
}
.score{
  position: absolute;
  padding: 5px;
  border-radius: 1px;
  left: calc(50% - 59px);
  top: 105px;
  z-index: 3;
  font-size: 32px;
}
.heading{
  font-size: 28px;
  font-weight: bolder;
}
#score{
  color: #009688;
  font-size: 72px;
}
#running-score{
  color: #009688;
  font-size: 32px;
  /*display: block;
  clear: both;*/
  text-align: center;
}
#start-modal{
  z-index: 3;
}
#restart-modal{
  z-index: 3;

}
